
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&family=Song+Myung&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Addiing properties to quill*/
body{
    height :100vh;
}

.ql-editor{
    font-size: 1.05rem;
    color: gray;
    
    
}


